<section data-ng-controller="ResumatchasController">
    <div class="row">
      <div class="col-md-6 page-header">
          <h1>Search Resumes / Jobs</h1>
      </div>
        <div class="col-md-6 page-header pull-right row">
            <img alt="matcha" class="img-responsive text-center" src="modules/resumatchas/img/matcha.jpg" />
        </div>
    </div>


<!--     <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div>
                    <button data-ng-click="item.upload()" class="btn btn-default">search</button>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div> -->

    <div class="col-md-12">
        <form>
            <input type="radio" name="rSel" ng-model="radioSelect" value="ct_jobs" checked="checked">  Jobs <br/>
            <input type="radio" name="rSel" ng-model="radioSelect" value="ct_resumes">  Resumes <br/>
        </form>

        <div class="controls">
            <input type="text" data-ng-model="qstring" id="qstring" class="form-control" placeholder="Search" required>
        </div>

        <div>
            <button data-ng-click="search()" class="btn btn-default">search</button>
        </div>

        <div class="list-group">
            <a data-ng-repeat="searchResult in searchResults" class="list-group-item" >

                <h4 data-ng-bind="searchResult.fields.title[0]"></h4>
                <div data-ng-bind-html="searchResult.highlight.file[0] | to_trusted"></div>
                <!-- <div>{{ searchResult.highlight.file[0] }}</div> -->
            </a>
        </div>
    </div>


</section>